# Dependencias
node_modules/

# Variables de entorno
.env

# Logs
*.log
logs/

# Archivos temporales
*.tmp
*.temp

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Cobertura
coverage/

# npm
npm-debug.log*

# QR generados
storage/qr/*.png